/* --------------------- Settings ------------------------*/
*{
  
  font-family: Tajawal;
  
}


@keyframes NavColor {
  0%{
      background-color: rgb(187, 7, 7);
  }


  25%{
      
      background-color: rgb(141, 26, 135);
  }

  50%{
      
    background-color: rgb(120, 25, 230);
  }

  75%{
      
    background-color: rgb(153, 5, 91);
  }

  100%{
    background-color: rgb(187, 7, 7);
  }

}

@keyframes LoadAnmi {
  0% {
    transform: translate(100,0);
  }
  25%{
    transform: translate(-100px,0);
  }
  75%{
    transform: translate(100px,0);
  }
  75%{
    transform: translate(-100,0);
  }
}

@font-face {
  font-family: 'Tajawal';
  src:  url('tajawal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Diwani';
  src:  url('diwani.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Doran:hover{
                
  transform:rotate(360deg);
  transition: all 3s;
}

.Load{
  animation: LoadAnmi 2s 1 forwards;
}



/* -----------------------------------------------------*/

nav{
  background-color: rgb(138, 0, 156);
  border-bottom-left-radius: 0.55cm;
  border-bottom-right-radius: 0.55cm;
  animation-name: NavColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


body {
    background-color: rgb(34, 34, 34) !important;
    color: #ffffff !important;
    direction: rtl;
}


.zebutton{
  border-color: black;
  border-width: 1px;
  border-radius: 20px;
  color:white;
  background:rgb(8, 88, 179);
  width: 180px;
  height: 50px;
  font-size: 22px;
}

.zebutton:hover {
  background-color: rgb(54, 164, 253);
 
}

a{
  text-decoration: none ; 
  color: rgb(60, 137, 253);
  font-size: 0.5cm;
}

footer{
  background-color: rgb(49, 49, 49);
  text-align: center;

}


.article{
  background-color: rgb(245, 245, 245);
  color : black;
  opacity:0.85;
  border-radius: 0.5cm;
  width:90%;
  height: auto;
  margin: 0 auto;
  padding: 0.6cm;
  min-height: 10cm;
}

.article ul{
  margin-right: 1.5cm;;
}

.article p{
  font-size: 0.5cm;
  margin-right: 1.5cm;
}

.article ul li p {
  margin-right: 0;
}


.articleBody{
  background-image: url(../imgs/img1.jpeg);
  background-repeat : no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


p{
  font-size: 0.4cm;
}

video {
  border-radius: 0.5cm;
  
}
